{% extends "base.html" %}

{% load static %}
{% load common_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% get_settings %}

{% block body_class %}template-top_level_page{% endblock %}

{% block content %}
<div class="measure-wide center">
  <h1>{{ page.title }}</h1>
  <h4 class="gray mb5">{{ page.bulletin_date }}</h4>
  <article class="lh-copy fw4 ">
    {% include_block page.body %}
  </article>
</div>

<div class="measure-wide center">
{% if page.fundraising_snippet %}
  {{ page.fundraising_snippet.embed_code|safe }}
{% endif %}
</div>

{% if user.is_authenticated %}
<style>
  body {
    padding-bottom: 5rem;
  }
</style>
<div class="bg-red fixed w-100 bottom-0 left-0 tc dt v-mid h3">
  <div class="dtc v-mid w3">
    <a href="?format=email" class="dib pa2 f6 white code">Export to HTML</a>
  </div>
</div>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "publisher": {% organization_jsonld request logo="wide" %},
    "author": {
        "@type": "Organization",
        "name" : "{{ settings.common.seosettings.organization_short_name }}"
    },
    "datePublished": "{{ page.bulletin_date | zulu_time }}",
    "dateModified": "{{ page.bulletin_date | zulu_time }}",
    "headline": "{{ page.title }}",
    "image": {
        "@type": "ImageObject",
        {% image settings.common.seosettings.logo original as tmp_photo %}
        "url": "{{ request.site.root_url }}{{ tmp_photo.url }}",
        "height": {{ tmp_photo.height}},
        "width": {{ tmp_photo.width }}
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "url": "{{ page.full_url }}"
    },
    "description": "{{ page.body| striptags | truncatewords_html:50 | strip_double_quotes }}"
}
</script>

{% endblock %}
