{% extends "base.html" %}

{% load static %}
{% load common_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-top_level_page{% endblock %}

{% block content %}
<div class="measure-wide center">
  <h1>{{ page.title }}</h1>
  <h4 class="gray mb5">{{ page.bulletin_date }}</h5>
  <article class="lh-copy fw4 ">
    {% include_block page.body %}
  </article>
</div>

<div class="measure-wide center">
{% if page.fundraising_snippet %}
  {{ page.fundraising_snippet.embed_code|safe }}
{% endif %}
</div>

{% if user.is_authenticated %}
<style>
  body {
    padding-bottom: 5rem;
  }
</style>
<div class="bg-red fixed w-100 bottom-0 left-0 tc dt v-mid h3">
  <div class="dtc v-mid w3">
    <a href="?format=email" class="dib pa2 f6 white code">Export to HTML</a>
  </div>
</div>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name" : "Philly DSA",
        "url" : "https://www.phillydsa.com/",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ request.scheme }}://{{ request.get_host }}{% static 'imgs/logo_wide.png' %}",
            "width": 260,
            "height": 60
        },
        "url" : "https://www.phillydsa.com/",
        "sameAs" : [
            "https://www.facebook.com/phillyDSA",
            "https://www.twitter.com/phillyDSA"
        ]
    },
    "author": {
        "@type": "Organization",
        "name" : "Philly DSA"
    },
    "datePublished": "{{ page.bulletin_date }}",
    "dateModified": "{{ page.bulletin_date }}",
    "headline": "{{ page.title }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ request.scheme }}://{{ request.get_host }}{% static 'imgs/dsa_logo_800x800.png' %}",
        "height": 800,
        "width": 800
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url }}"
    },
    "description": "{{ page.body| striptags | truncatewords_html:50 | strip_double_quotes }}"
}
</script>

{% endblock %}
