{% load wagtailcore_tags %}
<section class="pv5">
  <article class="mw8 center br2 bg-red">
    <div class="dt-ns dt--fixed-ns w-100">
      <div class="pa3 pa4-ns dtc-ns v-mid">
        <div>
            <h2 class="fw6 white mt0 mb3">{{ self.title }}</h2><p class="white fw4 measure lh-copy mv0">{{ self.cta_copy }}</p>
        </div>
      </div>
      <div class="pa3 pa4-ns dtc-ns v-mid">
          <a href=" {{ self.button_link.url }}" class="no-underline f6 tc db w-100 pv3 bg-animate bg-white ba b--light-red bw1 red br2">{{ self.button_title }}</a>
      </div>
    </div>
  </article>
</section>
