{% load static %}
{% load menu_tags %}

{% if debug %}
    {% load debug_tags %}
{% endif %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js fw4"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

        <meta name="google-site-verification" content="{{ GOOGLE_VERIFICATION_KEY }}" />

        <link rel="canonical" href="https://www.phillydsa.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="communism, socialism, philadelphia, phillydsa, dsa, philly" >
        <meta name="description" content="Home of the Philadelphia Local of the Democratic Socialists of America">

        <!--FACEBOOK-->
        <meta property="og:site_name" content="PhillyDSA">
        <meta property="og:url" content="https://www.phillydsa.com" >
        <meta property="og:description" content="Home of the Philadelphia Local of the Democratic Socialists of America" >
        <meta property="og:image" content="https://www.phillydsa.com/static/imgs/DSAlogo.png" >
        <meta property="fb:app_id" content="" >
        <meta property="og:type" content="website" >
        <meta property="og:locale" content="en-US" >

        <!--TWITTER-->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:description" content="{% block page_description %}Home of the Philadelphia Local of the Democratic Socialists of America{% endblock %}" >
        <meta property="twitter:creator" content="@phillydsa" >
        <meta property="twitter:url" content="https://www.phillydsa.com" >
        <meta property="twitter:image" content="https://www.phillydsa.com/static/imgs/DSAlogo.png" >
        <meta property="twitter:image:alt" content="PhillyDSA">

        <!--FAVICON-->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-196x196.png' %}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-128.png' %}" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}" />
        <meta name="msapplication-square70x70logo" content="{% static 'favicon/mstile-70x70.png' %}" />
        <meta name="msapplication-square150x150logo" content="{% static 'favicon/mstile-150x150.png' %}" />
        <meta name="msapplication-wide310x150logo" content="{% static 'favicon/mstile-310x150.png' %}" />
        <meta name="msapplication-square310x310logo" content="{% static 'favicon/mstile-310x310.png' %}" />


        {% with self.get_site.site_name as site_name %}
        {% block title %}
            {% if self.seo_title %}
                <title>{{ self.seo_title }}{% if site_name %} - {{ site_name }}{% endif %}</title>
                <meta property="og:title" content="{{ self.seo_title }}{% if site_name %} - {{ site_name }}{% endif %}">
                <meta property="twitter:title" content="{{ self.seo_title }}{% if site_name %} - {{ site_name }}{% endif %}">
            {% else %}
                <title>{{ page.title }}{% if site_name %} - {{ site_name }}{% endif %}</title>
                <meta property="og:title" content="{{ page.title }}{% if site_name %} - {{ site_name }}{% endif %}">
                <meta property="twitter:title" content="{{ page.title }}{% if site_name %} - {{ site_name }}{% endif %}">
            {% endif %}
        {% endblock %}
        {% endwith %}

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
           <link rel="stylesheet" type="text/css" href="{% static 'css/tachyons/css/tachyons.min.css' %}">
        <style>
        {# {% include "common/css.html" %} #}
        </style>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} manifold">
        {% block headerline%}
        <header class="manifold center mb4 ph3 ph4-ns pt4 pt5-ns">
            <a href="/" class="link black"><div class="ph2-ns tc">
                <img class="dib h2 h3-ns" src="{% static 'imgs/DSAlogo.png' %}">
                <h1 class="dib f-subheadline-ns f2 fw3 mb0 mt1 manifold tracked-tight">Philly DSA</h1>
            </div></a>
        </header>

        {% main_menu template="common/menu.html"%}

        {% endblock %}

        <main class="pa2 center w-100">
        {% block content %}

        {# page content goes here #}

        {% endblock %}
        </main>

        <footer class="pv4 ph3 mt5 ph5-ns tc bt b--light-gray">
            <a class="link dim gray dib h2 w2 br-100 mr3 " href="http://www.facebook.com/phillyDSA" title="">
                <svg data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
                    <title>facebook icon</title>
                    <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path>
                </svg>
            </a>
            <a class="link dim gray dib h2 w2 br-100 mr3 " href="http://www.twitter.com/phillydsa" title="">
                <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>twitter icon</title>
                <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
                </svg>
            </a>
            <div class="pa4 w-100 tc gray">
            &copy; 2017 Philadelphia Local of the Democratic Socialists of America
            </div>
        </footer>

        {# Global javascript #}
        <script type='application/ld+json'>
            {
                "@context" : "http://schema.org",
                "@type" : "Organization",
                "name" : "Philly DSA",
                "url" : "https://www.phillydsa.com/",
                "logo": "https://www.phillydsa.com/static/imgs/DSAlogo.png",
                "sameAs" : [
                    "https://www.facebook.com/phillyDSA",
                    "https://www.twitter.com/phillyDSA"
                ]
            }
        </script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% if not debug %}
        {# Google Analytics - delete if you don't want to use #}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ GOOGLE_ANALYTICS_KEY }}', 'auto');
          ga('send', 'pageview');

        </script>
        {% endif %}
    </body>
</html>
