{% load static %}
{% load menu_tags %}
{% load common_tags %}

{% load wagtailsettings_tags %}
{% get_settings %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js fw4"> <!--<![endif]-->
<head>
    <script>new FontFace("Manifold", "url({% static 'fonts/ManifoldDSA-Medium.woff2' %})").load()
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <meta name="google-site-verification" content="{{ settings.common.seosettings.google_site_verification_key }}" />

    <link rel="canonical" href="{{ request.site.root_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ settings.common.seosettings.keywords }}" >
    <meta name="description" content="{{ settings.common.seosettings.site_description }}">

    <!--FACEBOOK-->
    <meta property="og:site_name" content="{{ settings.common.seosettings.organization_short_name }}">
    <meta property="og:url" content="{{ request.site.root_url }}" >
    <meta property="og:description" content="{{ settings.common.seosettings.site_description }}" >
    <meta property="og:image" content="{{ settings.common.seosettings.logo }}" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en-US" >

    <!--TWITTER-->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:description" content="{{ settings.common.seosettings.site_description }}" >
    <meta property="twitter:creator" content="" >
    <meta property="twitter:url" content="{{ request.site.root_url }}" >
    <meta property="twitter:image" content="{{ settings.common.seosettings.logo }}" >
    <meta property="twitter:image:alt" content="{{ settings.common.seosettings.organization_short_name }}">

    <!--FAVICON-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'favicon/mstile-310x310.png' %}" />

    <title>
    {% block title %}{{ page|generate_page_title }}{% endblock %}
    {% block extra_title %}{% endblock %}
    </title>


    <meta property="og:title" content="{{ page|generate_page_title }}">
    <meta property="twitter:title" content="{{ page|generate_page_title }}">

    <meta name="description" content="
    {% block meta_description %}
        {% if page.search_description %}
            {{ page.search_description }}
        {% elif page.body %}
            {{ page.body | striptags | truncatewords_html:20 | strip_double_quotes }}
        {% endif %}
    {% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if request.COOKIES.css_cached %}
        <link rel="stylesheet" type="text/css" href="{% static 'specific/phillydsa-style.min.css' %}">
    {% else %}
        <link rel="prefetch" href="{% static 'specific/phillydsa-style.min.css' %}">
        <style>
        {% include "common/css.html" %}
        </style>
    {% endif %}
</head>

    <body class="{% block body_class %}{% endblock %} sans-serif">
        {% block headerline %}
        <header class="center mb4 ph3 ph4-ns pt4 pt5-ns">
            <a href="/" class="link black"><div class="ph2-ns tc">
                <img class="dib h2 h3-ns" src="{% static 'imgs/dsa_logo2.svg' %}">
                <h1 class="dib f-subheadline-ns f2 fw3 mb0 mt1 tracked-tight">{{ settings.common.seosettings.organization_short_name }}</h1>
            </div></a>
        </header>

        {% main_menu template="common/menu.html"%}

        {% endblock %}

        <main class="pa2 center w-100">
        {% block content %}

        {# page content goes here #}

        {% endblock %}
        </main>

        <footer class="pv4 ph3 mt5 ph5-ns tc bt b--light-gray">
        {% if settings.common.SocialMediaSettings.facebook %}
        <a class="link dim gray dib h2 w2 br-100 mr3 " href="{{ settings.common.SocialMediaSettings.facebook }}" title="Check us out on Facebook">
            <svg data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>facebook icon</title>
                <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path>
            </svg>
        </a>
        {% endif %}
        {% if settings.common.SocialMediaSettings.twitter %}
        <a class="link dim gray dib h2 w2 br-100 mr3 " href="{{ settings.common.SocialMediaSettings.twitter }}" title="Follow us on Twitter">
            <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>twitter icon</title>
                <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
            </svg>
        </a>
        {% endif %}
        {% if settings.common.SocialMediaSettings.instagram %}
        <a class="link dim gray dib h2 w2 br-100 mr3 " href="{{ settings.common.SocialMediaSettings.instagram }}" title="Follow us on Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" style="fill:currentcolor" fill-rule="evenodd" stroke-miterlimit="1.4" viewBox="0 0 16 16" clip-rule="evenodd" stroke-linejoin="round"><path d="M8 0H4.7c-1 0-1.4.2-2 .4-.5.2-1 .5-1.4 1-.4.4-.7.8-1 1.4l-.3 2v6.5c0 .8.2 1.4.4 2 .2.5.5 1 1 1.4.4.4.8.7 1.4 1l2 .3h6.5c.8 0 1.4-.2 2-.4.5-.2 1-.5 1.4-1 .4-.4.7-.8 1-1.4l.3-2V8 4.7c0-1-.2-1.4-.4-2-.2-.5-.5-1-1-1.4-.4-.4-.8-.7-1.4-1l-2-.3H8zm0 1.4h3.2c.8 0 1.2.3 1.5.4.4 0 .7.3 1 .6.2.2.4.5.5 1 0 .2.3.6.3 1.4v6.4c0 .8-.2 1.2-.3 1.5 0 .4-.3.7-.6 1-.3.2-.5.4-1 .5-.2 0-.6.3-1.4.3H4.7c-.7 0-1.2-.2-1.5-.3-.3 0-.6-.3-1-.6l-.5-1-.3-1.4V8 4.7c0-.7.2-1.2.3-1.4.2-.4.3-.7.6-1l1-.6c.2 0 .6-.2 1.4-.2H8zM8 4C5.7 4 4 5.6 4 8s1.7 4 4 4 4-1.7 4-4-1.7-4-4-4zm0 6.7c-1.5 0-2.7-1.2-2.7-2.7 0-1.5 1.2-2.7 2.7-2.7 1.5 0 2.7 1.2 2.7 2.7 0 1.5-1.2 2.7-2.7 2.7zm5.2-7c0 .6-.4 1-1 1s-1-.4-1-1 .5-1 1-1 1 .5 1 1z"/></svg>
        </a>
        {% endif %}
        {% if settings.common.SocialMediaSettings.youtube %}
        <a class="link dim gray dib h2 w2 br-100 mr3 " href="{{ settings.common.SocialMediaSettings.youtube }}" title="Follow us on Youtube">
            <svg xmlns="http://www.w3.org/2000/svg" style="fill:currentcolor" fill-rule="evenodd" stroke-miterlimit="1.4" viewBox="0 0 16 16" clip-rule="evenodd" stroke-linejoin="round">
              <path d="M0 7.3l.2-2.5s0-1 .6-1.6c.6-.7 1.4-.6 1.8-.7L8 2.3l5.6.2c.3 0 1 0 1.6.7.5.5.6 1.6.6 1.6l.2 2.5v1.3l-.2 2.6s0 1-.6 1.6c-.6.6-1.3.6-1.6.7h-11c-.4 0-1.2 0-1.8-.7-.5-.5-.6-1.6-.6-1.6L0 8.6V7.3zM6.3 10V5.7L10.7 8l-4.3 2z"/>
            </svg>
        </a>
        {% endif %}
        {% if settings.common.SocialMediaSettings.github %}
        <a class="link dim gray dib h2 w2 br-100 mr3 " href="{{ settings.common.SocialMediaSettings.github }}" title="Check us out on Github">
        <svg xmlns="http://www.w3.org/2000/svg" style="fill:currentcolor" fill-rule="evenodd" stroke-miterlimit="1.41" viewBox="0 0 24 24" clip-rule="evenodd" stroke-linejoin="round">
          <title>GitHub icon</title><path d="M12 .3C5.37.3 0 5.67 0 12.3c0 5.3 3.44 9.8 8.2 11.38.6.12.83-.26.83-.57l-.02-2c-3.3.7-4-1.6-4-1.6-.5-1.4-1.3-1.74-1.3-1.74-1.1-.72.1-.7.1-.7 1.2.1 1.84 1.23 1.84 1.23 1.07 1.83 2.8 1.3 3.5 1 .1-.78.4-1.3.75-1.6-2.67-.3-5.47-1.34-5.47-5.94 0-1.3.47-2.4 1.24-3.23-.14-.3-.54-1.52.1-3.2 0 0 1-.32 3.3 1.2.96-.23 1.98-.4 3-.4s2.04.17 3 .4c2.28-1.52 3.3-1.2 3.3-1.2.63 1.65.23 2.87.1 3.17.77.83 1.24 1.9 1.24 3.2 0 4.6-2.8 5.6-5.47 5.9.4.36.8 1.1.8 2.2v3.3c0 .3.2.7.8.58C20.57 22.1 24 17.6 24 12.3c0-6.63-5.37-12-12-12"/></svg>
        </a>
        {% endif %}
            <div class="pa4 w-100 tc gray">
            &copy; 2017 {{ settings.common.seosettings.organization_full_name }}
            </div>
        </footer>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {# Google Analytics - delete if you don't want to use #}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ settings.common.seosettings.google_analytics_key }}', 'auto');
          ga('send', 'pageview');
        </script>

        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', '{{ GOOGLE_ANALYTICS_KEY_TESTING }}', 'auto');
            ga('set', 'transport', 'beacon');

            ga('require', 'eventTracker');
            ga('require', 'outboundLinkTracker');
            ga('require', 'urlChangeTracker');
            ga('require', 'pageVisibilityTracker', {
                fieldsObj: {
                    nonInteraction: null
                },
                sendInitialPageview: true,
                hiddenMetricIndex: 1,
                visibleMetricIndex: 2
                });
        </script>

        <script async src="https://www.google-analytics.com/analytics.js"></script>
        <script async src="{% static 'js/dsa-ga.js' %}"></script>

    </body>
</html>
