{% load wagtailcore_tags %}
{% load common_tags %}

<article class="center measure-wide">
  <h1><a href="{% pageurl event %}">{{ event.title }}</a></h1>
  <div class="meta bt bw2 pv4">
    <div class="time">
      {{ event.event_date }} at {{ event.event_start_time }} to {{ event.event_end_time }}
    </div>

    <div class="mt2">
      {% if event.location_name %}
      {{ event.location_name }}
      {% endif %}
      <div class="mb2">
        {{ event.location_street_address }}<br>
        {{ event.location_city }}, {{ event.location_state }} {{ event.location_zip_code }}
      </div>
      <a href="http://maps.google.com/?q={{ event.location_street_address}},{{event.location_city}},{{event.location_state}},{{event.location_zip_code}}" target="_blank" class="pa2 ph3 mv2 bg-black dib white">Google Maps</a>
      <a href="{{ event.url }}?format=ical" class="pa2 ph3 mv2 bg-black dib white">iCal / Outlook</a>
      <a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ event.title|urlencode }}&dates={{ event.event_start_dt|zulu_time}}/{{ event.event_end_dt|zulu_time }}&sprop=website:{{ event.full_url }}&sprop;=name:PhillyDSA&location={{ event.location_name }},{{ event.location_street_address }},{{ event.location_city }},{{ event.location_state }},{{ event.location_zip_code }}" class="pa2 ph3 mv2 bg-black dib white">Google Calendar</a>
    </div>
  </div>
  {{ event.body }}
</article>

