{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load common_tags %}

{% block extra_title %}
    - Events for {{ month_name }} {{ extra_data|get_item:'day' }}, {{ year }}
{% endblock %}

{% block body_class %}template-membercalendarhomepage{% endblock %}

{% block content %}
  <div class="w-100">
    <h1 class="f1 tc mb5 mt0 mt2-ns">{{ extra_data|get_item:'day' }} {{ month_name }} {{ year }}</h1>
    {% for event in events %}
        {% with event.specific as event %}
            {% include "member_calendar/_event.html" %}
        {% endwith %}
    {% endfor %}
    </div>
{% endblock %}
