{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load common_tags %}

{% block body_class %}template-membercalendarhomepage{% endblock %}

{% block content %}
    <div class="w-100">
        <h1 class="f1 tc mb5">{{ month_name }} {{ year }}</h1>
        <div class="dt center">
            <div class="dt">
                <div class="fw6 w3 pa2 h3 v-mid dtc br-100 tc"> Su </div>
                <div class="fw6 w3 pa2 h3 v-mid dtc br-100 tc"> Mo </div>
                <div class="fw6 w3 pa2 h3 v-mid dtc br-100 tc"> Tu </div>
                <div class="fw6 w3 pa2 h3 v-mid dtc br-100 tc"> We </div>
                <div class="fw6 w3 pa2 h3 v-mid dtc br-100 tc"> Th </div>
                <div class="fw6 w3 pa2 h3 v-mid dtc br-100 tc"> Fr </div>
                <div class="fw6 w3 pa2 h3 v-mid dtc br-100 tc"> Sa </div>
            </div>
        {% for week in calendar %}
            <div class="dt code">
            {% for day in week %}
                {% if day != 0 %}
                    {% if events_dict|get_item:day %}
                        <div class="w3 pa1 h3 v-mid dtc tc gray">
                            <a href="{{year}}/{{ month }}/{{day}}" class="dib pa3 bg-red white br-100">{{ day }}</a>
                        </div>
                    {% else %}
                        <div class="w3 pa2 h3 v-mid dtc br-100 tc gray">{{ day }}</div>
                    {% endif %}
                {% else %}
                    <div class="w3 pa2 h3 v-mid dtc br-100 tc gray">&nbsp;</div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
