#!/bin/bash

NAME="{{ domain }}"
SERVERDIR={{ http_root }}/{{ domain }}/
VENVDIR={{ http_root }}/venvs/{{ domain }}
USER="{{ http_user}}"
GROUP="{{ http_user }}"
PORT={{ django_port }}
NUM_WORKERS=2

cd $SERVERDIR
source $VENVDIR/bin/activate

DJANGO_WSGI_MODULE={{ django_wsgi_module }}
export PYTHONPATH=$SERVERDIR:$PYTHONPATH
export DJANGO_SETTINGS_MODULE={{ django_settings_module }}


exec $VENVDIR/bin/gunicorn ${DJANGO_WSGI_MODULE}:application \
    --name $NAME \
    --workers $NUM_WORKERS \
    --user=$USER --group=$GROUP \
    --log-level=info \
    --bind=127.0.0.1:$PORT
